/* - Fonts ----------------------------------------------------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------ */
@font-face {
    font-family: CabinSketch;
    src:         url("../fonts/CabinSketch-Regular.otf") format("opentype");
}

@font-face {
    font-family: CabinSketch;
    font-weight: bold;
    src:         url("../fonts/CabinSketch-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'STIXSizeOneSym';
    src: url('../fonts/STIXSizOneSymBol.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: SourceCodePro;
    src:         url("../fonts/SourceCodePro-Regular.otf") format("opentype");
}



/* - Generic styles -------------------------------------------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------ */
body {
    font-family:   CabinSketch;
    color:         black;
    font-size:     20px;
    margin:        0px auto 200px auto;
    min-width:     600px;
    max-width:     1000px;
    padding-left:  20px;
    padding-right: 20px;
    text-align:    justify;
}

a, a:visited {
    border:             none;
    text-decoration:    none;
    color:              blue;
    transition:         all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition:    all 150ms ease-in-out;
    -o-transition:      all 150ms ease-in-out;
    -ms-transition:     all 150ms ease-in-out;
}

a:hover, a:visited:hover {
    border:             none;
    color:              #1a9ff4;
    transition:         all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition:    all 150ms ease-in-out;
    -o-transition:      all 150ms ease-in-out;
    -ms-transition:     all 150ms ease-in-out;
}

h1 { font-size: 2em; }

h2 { font-size: 1.5em; }

h3 { font-size: 1.1em;}

em {
    font-style: normal;
    color:      green;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
    list-style-position: inside;
    padding-left:        0;
    padding-top: 0;
    margin-top: 0;
}



/* - Header ---------------------------------------------------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------ */
div#header {
    margin-bottom: 30px;
    padding:       12px 0px 12px 0px;
}

div#header a, div#header a:visited {
    color: black;
}

div#header a:hover, div#header a:visited:hover { color: blue; }

div#logo { float: left; }

div#header #navigation { text-align: right; }

div#header a {
    font-size:      1.5em;
    text-transform: uppercase;
}

div#header #navigation a { font-size: 1.5em; }

div#header #logo a { margin-right: 12px; }

div.info { font-size: .7em; }



/* - Single post ----------------------------------------------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------ */
.info .date {
    margin-right: 10px;
}

.info .tags .tag {
    color:          green;
    text-transform: uppercase;
    margin-left:    3px;
    margin-right:   3px;
}



/* - Homepage article list ------------------------------------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------ */
.article {
    width:         100%;
    margin-bottom: 20px;
    float:         right;
}

.article h2 a, .article h2 a:visited { color: black; }

.article h2 a:hover, .article h2 a:visited:hover { color: blue; }

.article .meta {
    margin-top:     5px;
    width:          140px;
    white-space:    nowrap;
    float: left;
}

.article .content {
    width: 85%;
    float: right;
}

.article .content h2 { margin-top: 0; }



/* - Archives -------------------------------------------------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------ */
.archive-entry {
    margin-bottom: .5em;
}

.archive-entry a, .archive-entry a:visited {
    color: black;
}

.archive-entry a:hover, .archive-entry a:visited:hover {
    color: blue;
}

.archive-entry .bullet {
    font-size: .7em;
}

.archive-entry .date {
    font-size: .7em;
    float: right;
}


/* - Code & math ----------------------------------------------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------ */
.math {
    font-family: STIXSizeOneSym;
    font-size:   1em;
}

.math em {
    color:      black;
    font-style: italic;
}

pre, code {
    font-family:      SourceCodePro;
    font-size:        .85em;
}

code {
    margin-left:  4px;
    margin-right: 4px;
}

pre {
    padding:          7px;
    background-color: #FDF6E3;
    border-radius:    2px;
    text-align:       left;
}

.sourceCode .kw { color: #268BD2; }
.sourceCode .dt { color: #268BD2; }

.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
.sourceCode .ch { color: #DC322F; }
.sourceCode .st { color: #2AA198; }
.sourceCode .co { color: #93A1A1; }
.sourceCode .ot { color: #A57800; }
.sourceCode .al { color: #CB4B16; font-weight: bold; }
.sourceCode .fu { color: #268BD2; }
.sourceCode .re { }
.sourceCode .er { color: #D30102; font-weight: bold; }
