{% assign articles = site.articles | sort: 'date' | reverse %}
<ul>
  {% for article in articles %}

  {% if article.series == "NONE" or article.layout == "series_index" %}
  <li>
    <a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a>
    {% if article.talk %}<i title="Companion Article" class="fa fa-microphone-lines fa-xs"></i>{% endif %}
    {% if article.series != "NONE" %}<i title="Series" class="fa fa-book fa-xs"></i>{% endif %}
  (<i>{{ article.date | date: "%B %Y" }}</i>)
  </li>
  {% endif %}

{% endfor %}
</ul>
