<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <link  rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script>
window.MathJax = {
  loader: {load: ['[tex]/bussproofs', '[tex]/mathtools']},
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [ ['$$','$$'], ['\[','\]'] ],
    packages: {'[+]': ['oz', 'bussproofs', 'mathtools']}
  },
  svg: {
    fontCache: 'global'
  }
};

    </script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.js">
    </script>

  </head>
  <body>
    <div id="navbar">
      <div class="wrapper">
        <span class="external"><a title="Github" href="https://github.com/nrinaudo"><i class="fa-brands fa-github fa-lg"></i></a></span>
        <span class="external"><a title="Twitter" href="https://twitter.com/nicolasrinaudo"><i class="fa-brands fa-twitter fa-lg"></i></a></span>
        <span class="external"><a title="Mastodon" rel="me" href="https://functional.cafe/@NicolasRinaudo"><i class="fa-brands fa-mastodon fa-lg"></i></a></span>

        <span class="internal"><a title="Home" href="{{ site.baseurl }}/"><i class="fa fa-home fa-lg"></i></a></span>
        <span class="internal"><a title="Articles" href="{{ site.baseurl }}/articles.html"><i class="fa fa-pen-nib fa-lg"></i></a></span>
        <span class="internal"><a title="Talks" href="{{ site.baseurl }}/talks.html"><i class="fa fa-microphone-lines fa-lg"></i></a></span>
        <span class="internal"><a title="Code" href="{{ site.baseurl }}/code.html"><i class="fa fa-code fa-lg"></i></a></span>
      </div>
    </div>
