{% assign sorted_pages = site.articles | sort: "sequence" | where: "series", page.series %}
{% assign prev = nil %}
{% assign next = nil %}
{% assign found_page = false %}
{% assign search_next = true %}

{% for p in sorted_pages %}
{% if p.title == page.title %}
{% assign found_page = true %}
{% elsif found_page and search_next %}
{% assign next = p %}
{% assign search_next = false %}
{% elsif found_page == false %}
{% assign prev = p %}
{% endif %}
{% endfor %}

<div class="prev_next">
{% if prev %}
  <a title="Prev: {{ prev.title }}" href="{{ site.baseurl }}{{ prev.url }}"><i class="fa fa-arrow-circle-left fa-lg"></i></a>
{% else %}
  <a><i class="fa fa-arrow-circle-left fa-lg"></i></a>
{% endif %}

  <a title="Top" href="./"><i class="fa fa-arrow-circle-up fa-lg"></i></a>

{% if next %}
  <a title="Next: {{ next.title }}" href="{{ site.baseurl }}{{ next.url }}"><i class="fa fa-arrow-circle-right fa-lg"></i></a>
{% else %}
  <a><i class="fa fa-arrow-circle-right fa-lg"></i></a>
{% endif %}
</div>
