---
layout: compress
---
{% include header.html %}


<div class="wrapper">

  <h1>{{ page.title }}</h1>
  <i>{% if page.talk %}This is the companion article for <a href="{{ site.baseurl }}/talks/{{ page.talk }}.html">this talk</a>. {% endif %}</i>

  {{ content }}


{% assign sorted_pages = site.articles | sort: "date" | where: "series", page.series %}
<ul>
{% for x in sorted_pages %}
{% if x.layout != "series_index" %}
<li>
<a href="{{ site.baseurl }}{{ x.url }}">{{ x.title }}</a>
</li>
{% endif %}
{% endfor %}
</ul>



</div>

{% include footer.html %}
