// Customize the colors of Octoflat Here

$primary-color:      #d35400; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #27ae60; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #C0392B; // Hover-over color, Active Page color
$accent-color1:      #2ecc71; // #23defe; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #ffffff; // Background
$navbar-color:       #27ae60; // Navbar
$code-bg-color:      #fdf6e3; //#fcf5da; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #5a5e5f; // Body Text
$footer-color:       #7F8C8D; // Footer
